src/main/mule/Implemention.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="7f695ec2-da55-4a65-8826-7bef5960ae19" />
	<flow name="VariableFlow" doc:id="81e08515-3f76-49c2-bd8f-9d77ee7de088" >
		<set-variable value='#[attributes.queryParams.bookingType]' doc:name="Set Variable" doc:id="6f211f8f-0d8e-4580-9309-6fdce6dee408" variableName="bookingType"/>
		<validation:is-not-null doc:name="Is not null" doc:id="777f77d0-9c90-40ee-b1ad-47547fbfbcb8" config-ref="Validation_Config" value="#[vars.bookingType]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ded52709-97ad-4390-8897-823da30c72fe" type="VALIDATION:NULL">
				<ee:transform doc:name="Transform Message" doc:id="1b35b70b-74c6-43a1-932e-8ed5f2a5e1fa">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Kindly provide the query parameter, " ++ (error.description default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="GettingAllResourcesFlow" doc:id="8d04f477-9cf4-4d4e-89aa-4f83f3fba02c" >
		<flow-ref doc:name="Variable Flow" doc:id="e19595f2-2a67-4f2f-a995-db2f8c5fdb28" name="VariableFlow"/>
		<choice doc:name="Choice" doc:id="38395c21-1107-4b94-92ee-f2b8f64f3b10" >
			<when expression='#[vars.bookingType == "Flight"]'>
				<flow-ref doc:name="GetFlights" doc:id="5937b478-8b3e-481a-a20e-c26f327c0b7a" name="GetFlightsflow"/>
			</when>
			<when expression='#[vars.bookingType == "Hotel"]'>
				<flow-ref doc:name="GetHotels" doc:id="91c6371c-56b5-4020-a568-ca3445e9c2b7" name="GetHotelFlow"/>
			</when>
			<when expression='vars.bookingType == "Cab"'>
				<flow-ref doc:name="GetCabs" doc:id="967dc3e9-7c2e-4e7b-ba91-0b296ae4371a" name="GetCabsFlow"/>
			</when>
			<otherwise >
				<ee:transform doc:name="DisplayMessage" doc:id="93fa5f59-e985-439b-843e-e45ac9312aaf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Kindly choose the proper booking type...!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="37a2cce0-5bc9-4896-8402-87fe9a4eb104" type="EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<ee:transform doc:name="Transform Message" doc:id="fd134ade-7aef-4043-a69f-986ada986efb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Some error has occurred " ++ (error.description default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="GettingAllResourcesByCityFlow" doc:id="6828e87a-a726-4c18-8bf4-57829f145047" >
		<flow-ref doc:name="VariableFlow" doc:id="892fcc1e-a381-42e4-aa05-3193124c2105" name="VariableFlow" />
		<choice doc:name="Choice" doc:id="9fee1398-ca42-443f-a5df-7a9a2faac744" >
			<when expression='#[vars.bookingType == "Flight"]' >
				<flow-ref doc:name="GetFlight" doc:id="1f2bd748-3cbe-4408-a8c8-5260527bf028" name="GetFlightsByCity" />
			</when>
			<when expression='#[vars.bookingType == "Hotel"]' >
				<flow-ref doc:name="GetHotel" doc:id="132e69f9-dc92-4246-861c-61eb18e72805" name="GetHotelByCityFlow" />
			</when>
			<when expression='vars.bookingType == "Cab"' >
				<flow-ref doc:name="GetCab" doc:id="7d9f2035-719b-404e-96b6-84614831abe5" name="GetCabsByCityFlow" />
			</when>
			<otherwise>
				<ee:transform doc:name="DisplayMessage" doc:id="c9784d89-f0b0-40d5-bede-3038b13bc878" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Kindly choose the proper booking type...!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b414591d-b3a2-4e5e-b110-ff0b4598e387" type="HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<ee:transform doc:name="Transform Message" doc:id="263da4d8-94e8-4fe3-812a-fee6be7c2234" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Some error has occurred " ++ (error.description default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="BookResourcesFlow" doc:id="e181dc85-3bae-49ef-aca0-98087539b800" >
		<flow-ref doc:name="VariableFlow" doc:id="ed8db925-9d75-4a0e-8850-8452417a1236" name="VariableFlow" />
		<choice doc:name="Choice" doc:id="3da632ea-0fd0-4985-8cd3-3ccc2e45fcdb" >
			<when expression='#[vars.bookingType == "Flight"]' >
				<flow-ref doc:name="BookFlight" doc:id="28ce9c34-90cc-4f17-9fa4-4e29c4d5750d" name="BookFlightFlow" />
			</when>
			<when expression='#[vars.bookingType == "Hotel"]' >
				<flow-ref doc:name="BookHotel" doc:id="ae30cfba-8e8a-44ee-9f33-70b1fa190c2c" name="BookHotelFlow" />
			</when>
			<when expression='vars.bookingType == "Cab"' >
				<flow-ref doc:name="BookCabs" doc:id="d8c79ed1-2b40-46b3-98a2-4dc8b9a6a4bc" name="BookCabsFlow" />
			</when>
			<otherwise >
				<ee:transform doc:name="DefaultMessage" doc:id="afb90cdc-69c4-487a-8fda-6ffc1d1e918a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Kindly choose the proper booking type...!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="08fe5c54-e3fa-4b4c-9998-3d0aa8029205" type="HTTP:BAD_GATEWAY, HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:CONNECTIVITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<ee:transform doc:name="Transform Message" doc:id="04aaa47d-0193-45a5-9157-2be9f22af1f0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Some error has occurred " ++ (error.description default "")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
